/* Rest */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main */
body { /*font-weight font-size/line-height font-family*/
  font: normal 1rem/1.5 'Arial', sans-serif;
  overflow: hidden;
}


/* Nav Bar */
#navbar-wrap {
  background: #333;
  /* z-index: 1; */
}

/* to wrap the menue bar in middle of the page */
#navbar-wrap .content-wrap {
  width: 80%;
  margin: auto;
}

/* To targer the ul container to dispaly its li as flex items. */
#navbar-wrap nav ul {
  display: flex;
  justify-content: center;
  z-index: 2; /*to show the dropdown menu always on top*/
}

/* we have to position all li as relative for its nasted ul*/
#navbar-wrap nav ul li {
  position: relative;
}

/* to hide the nasted ul */
#navbar-wrap nav ul li ul {
  display: none;
}

/* to display the nasted ul as a block to show under each other and position them absolute for their parent li. */
#navbar-wrap nav ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 250px;
  margin-top: 1rem;
  color: red;
  border: 1px #999 solid;
  background: #474747;
}


#navbar-wrap nav ul li a:hover {
  background: coral;
  border-radius: 10px;
}

#navbar-wrap nav ul li ul li a:hover {
  background: none;
}

/* to color the nasted ul */
#navbar-wrap nav ul li:hover ul a {
  color: red;
}

#navbar-wrap nav ul li ul li:hover {
  background: #eee;
}

#navbar-wrap nav ul li {
  list-style: none;
  padding: 1rem;
}

#navbar-wrap nav ul li:hover {
  cursor: pointer;
}

span {
  color: #fff;
  background: coral;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  margin-right: 0;
  position: absolute;
  top: 10px;
  right: 50px;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 1.3rem;
}

/* Header */
header {
  background: #333;
  position: relative;
  z-index: 0;
  height: 100vh;
}

header:before {
  content: '';
  background: url(https://images.pexels.com/photos/2884867/pexels-photo-2884867.jpeg?cs=srgb&dl=4k-wallpaper-amazing-antique-2884867.jpg&fm=jpg) no-repeat center center/cover;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  width: 80%;
  margin: auto;
  color: #fff;
}


@media(max-width:500px) {
  body {
    overflow: auto;
  }
  #navbar-wrap nav ul {
    flex-direction: column;  
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}



